body{background-color: rgb(27, 25, 25);}
/* header */
header .container-fluid{
    width: 100%;height: 60px;
    background: rgba(179, 171, 171, 0.342);
}
.boxMenu{
   margin: 15px 50px;
}
.boxMenu input{
    margin: 0;
    font-size: 20px;color: white;
    background: none; border: none;
}
.boxLink{
    margin: 12px;
}
#logoLinkendid{
    width: 35px;
    display:inline;fill:#ffffff;fill-opacity:1"
}
#logoGithub{
    width:40px;fill:#ffffff;fill-opacity:1"
}
/* section présentation */
.sct-presentation{
    height: 750px;
}
.sct-presentation img{
    width: 300px; margin: 11%;
}
.sct-presentation h1{
    color: white; font-size: 50px;
}
/* section a propos de moi*/
.sct-aPropo h2{
    color: white; font-size: 35px;
}
.presentationBox{
    background: white;
    width: 100%;height: 500px; 
}
/* section projets */
.sct-projets h2{
    color: white; font-size: 35px;
}
/* section comptences */
.sct-competences{
    background: white;
}
.sct-competences h2{
    margin-top: 50px;
    color: rgb(0, 0, 0); font-size: 35px;
}
.sct-competences h3{
    margin-bottom: 30px;
}
#logoJs, #logoJava, #logoHtml, #logoCss, #logoBootsp, #logoLrvl, #logoWordpress, #logoVsc, #logoVp{
    width: 90px;
}
#logoPhp, #logoMsql{
    height: 75px;
}
/* section contact */
.sct-contact h2{
    color: white; font-size: 35px;
}